@charset "utf-8";

/* ---------------  for confrict to misumiec.css ------------------- */
h1.keyVisual {
	margin-bottom:15px	!important;
}
.col1,
.col2 {
	margin:0px;
}
p {
	margin-bottom:0px;
}
img {
	vertical-align:middle;
}
#rightArea h2.big_title {
	border:none;
}
#rightArea h2.big_title_new {
	border:none;
}
#rightArea h2.mid_title {
	border:none;
}

/* ---------------  common ------------------- */

#rightArea table td,#rightArea table th{line-height:1.2em;}
#rightArea .bold{font-weight:bold;}


.border_none{border:none!important;}
.border_none td{border:none!important;}
.pd_none{padding:0!important;}
.pd_none td{padding:0!important;}

.ind_1,.ind_1 li{text-indent:-0.5em;padding:0.5em;}

.caution img{padding-right:5px;vertical-align:middle;}
.bold_np{font-weight:bold;}
.dis_b,.dis_b li a{display:block;}





/* ---------------  h tag ------------------- */

#rightArea h3 p span{color:#FF3300;}


/* ---------------  baselayout ------------------- */

#rightArea{padding:0px;}



/* ---------------  line-height ------------------- */

.lh_16{line-height:1.6em;}



/* ---------------  text-align ------------------- */


.ta_c{text-align:center!important;}
.ta_r{text-align:right!important;}
.ta_l{text-align:left!important;}


/* ---------------  マークアップリンク処理 ------------------- */


.mark2t{background:url(/contents/images/mark2.gif);background-position:2px 5px;background-repeat:no-repeat;padding-left:15px;margin:5px 0 5px 5px;float:right;}
.linkset_1{text-align:right;margin-top:40px;padding:10px 5px 20px 0;border-top:solid 1px #DCDCDC;}
.linkset_2{text-align:right;padding:0 10px 15px 10px;}
.linkset_3{padding:0 10px 15px 15px;}
.linkset_1 span,.linkset_2 span{margin-left:25px;}
.linkset_3 span{margin-right:25px;}
.linkset_4 span{padding-right:3px;}
.mark_np1,.mark_list li a{background:url(/contents/mech/product/images/mark.gif);background-position:left center;background-repeat:no-repeat;padding-left:11px;font-size:100%;}
.mark_list .l2 a{background-position:0 3px;}
.mark_list li{margin-bottom:5px;}
.mark_np2{background:url(/contents/mech/product/images/mark.gif);background-position:0 0.5em;background-repeat:no-repeat;padding-left:11px;font-size:100%;}
.mark_np3{background:url(/contents/mech/product/images/mark.gif);background-position:0 0.5em;background-repeat:no-repeat;padding-left:8px;font-size:10px;display:block;}
.mark_np4{text-align:right;}
.mark_np4 a{background:url(/contents/mech/product/images/mark.gif);background-position:0 3px;background-repeat:no-repeat;padding-left:8px;font-size:100%;}
.mark_np4_pdf{text-align:right;margin-top:5px;}
.mark_np4_pdf a{background:url(/contents/mech/product/images/pdf.gif) no-repeat 0 0;padding-left:20px;padding-bottom:5px;}
.mark_list .blk a{background:url(/contents/mech/product/images/navi_pct.gif);background-position:0 3px;background-repeat:no-repeat;padding-left:15px;}
.mark_list .top a{background-position:0 5px;}
.mark_list .pdf{background:none!important;padding-left:0px!important;}
.mark_list .pdf a{background-image:url(/contents/mech/product/images/pdf.gif)!important;padding-left:20px;background-position:0 0;display:block;padding-bottom:5px;}
.mark_pdf{background-image:url(/contents/mech/product/images/pdf.gif)!important;padding-left:20px;background-position:0 0;background-repeat:no-repeat;font-size:100%}
.mark_exc{background-image:url(/contents/mech/product/images/excel.gif)!important;padding-left:23px;background-position:3px 0.5em!important;background-repeat:no-repeat;font-size:100%}





/* ---------------  anchor ------------------- */


.anchor{background:url(../images/bg_anc.jpg) no-repeat left top;height:27px;padding:2px;}
.anchor li{float:left;}
.anchor li a{display:block;line-height:27px;text-align:center;width:120px;height:27px;color:#000000;text-decoration:none;}
.anchor li a:hover{background-position:0 -27px;color:#ffffff;}
.anchor li a:hover .mark_np1,.anchor .ov .mark_np1{background:url(../images/mark_white.gif) no-repeat left center;}
.anchor .anc_l a{background:url(/contents/mech/product/images/anc_l.jpg) no-repeat left top;}
.anchor .anc_c a{background:url(/contents/mech/product/images/anc_c.jpg) no-repeat left top;}
.anchor .anc_c71 a{background:url(/contents/mech/product/images/anc_c71.jpg) no-repeat left top;width:71px;}
.anchor .anc_c169 a{background:url(/contents/mech/product/images/anc_c169.jpg) no-repeat left top;width:169px;}
.anchor .anc_c190 a{background:url(/contents/mech/product/images/anc_c190.jpg) no-repeat left top;width:190px;}
.anchor .anc_r a{background:url(/contents/mech/product/images/anc_r.jpg) no-repeat left top;width:126px;}
.anchor .ov a{background-position:0 -27px;color:#ffffff;}

/* ---------------  table style ------------------- */

.nowrap td{white-space: nowrap;}
.tb_style_0 td{font-size:12px;}
.tb_style_0 h2,.tb_style_0 h3{font-size:12px!important;}
.tb_style_1{border-collapse:collapse;margin-bottom:15px;font-size:12px;}
.tb_style_1 td{border:solid 1px #DCDCDC;padding:8px 0 8px 25px;width:33%;}
.tb_style_2{border-collapse:collapse;font-size:10px!important;}
.tb_style_2 th{border:solid 1px #DCDCDC;text-align:center;background-color:#EFEFEF;font-weight:normal;padding:8px 0;}
.tb_style_2 td{border:solid 1px #DCDCDC;padding:8px 5px;}
.tb_style_2 td div{padding-top:5px;text-align:center;}
.tb_style_3{border-collapse:collapse;font-size:12px;}
.tb_style_3 td{border:solid 1px #DCDCDC;padding:1px;}
.tb_style_3 td .new{background:url(/contents/mech/product/images/icon_new.jpg) no-repeat 95% 1px;background-color:#E4F1F8;}
.tb_style_3 td dt{background-color:#E4F1F8;padding:8px 0 8px 15px;}
.tb_style_3 td dt a{background:url(/contents/mech/product/images/mark.gif);background-position:left center;background-repeat:no-repeat;padding-left:11px;font-size:100%;}
.tb_style_3 td dd{padding:8px 0 8px 25px;}
.tb_style_4,.tb_style_5{border-collapse:collapse;line-height:1.2em;}
.tb_style_4 td,.tb_style_5 td,.tb_style_5 th{border:solid 1px #DCDCDC;padding:8px 0;text-align:center;}
.tb_style_4 .pic,.tb_style_5 .pic{width:136px;padding:1px;}
.tb_style_4 .purple,.tb_style_4 .yellow{text-align:left;padding-left:20px;}
.tb_style_4 .yellow{background-color:#FFEC96;}
.tb_style_4 .purple{background-color:#8C99C4;}
.tb_style_4 .purple td{background-color:#8C99C4;}
.tb_style_4{height:106px;font-size:12px;}
.tb_style_5{height:226px;font-size:12px;}
.tb_style_5 th{background-color:#EFEFEF;font-weight:normal;}
.tb_style_5 .left{text-align:left;padding-left:5px;}
.tb_style_6{border-collapse:collapse;margin-bottom:20px;font-size:12px;}
.tb_style_6 a{font-size:12px;}
.tb_style_6 th,.tb_style_6 td{border:solid 1px #DCDCDC;text-align:center;padding:5px 15px;}
.tb_style_6 .name{width:40%;padding:5px 0px;}
.tb_style_6 .name td{border:none;padding:0;text-align:left;}
.tb_style_6 .name .pic{width:20%;text-align:center;}
.tb_style_6 .new td{background-color:#E5F2F9;}
.tb_style_7{border-collapse:collapse;font-size:12px;}
.tb_style_7 th,.tb_style_7 td{font-weight:normal;border:solid 1px #DCDCDC;padding:8px 0;text-align:center;}
.tb_style_7 th{background-color:#EFEFEF;}
.tb_style_7 .pic{width:136px;padding:1px;vertical-align:top;}
.tb_style_7 .left{text-align:left;padding-left:5px;}
.tb_style_7 .color_1{color:#FF6600;font-weight:bold;}
.tb_style_8{border-collapse:collapse;font-size:12px;}
.tb_style_8 a{font-size:12px!important;}
.tb_style_8 th,.tb_style_8 td{font-weight:normal;border:solid 1px #DCDCDC;text-align:center;padding:8px 10px;}
.tb_style_8 th{background-color:#EFEFEF;}
.tb_style_8 .purple,.tb_style_8 .purple td{background-color:#8C99C4;padding:5px 0;}
.tb_style_8 .pic_1{padding:1px;width:136px;}
.tb_style_8 .pic_2{padding:1px;width:113px;}
.tb_style_8 .pic_3{padding:1px;width:175px;}
.tb_style_8 .left{text-align:left;padding:8px 30px;}
.tb_style_8 .linkset td{border:none;text-align:left;padding-left:20px;padding:0 10px;}
.tb_style_8 .linkset td a{background:url(/contents/mech/product/images/mark.gif);background-position:left center;background-repeat:no-repeat;padding-left:11px;font-size:100%;}
.tb_style_8 .style_pdf td{padding-bottom:5px;padding-top:5px;vertical-align:top;font-size:12px;}
.tb_style_8 .blue,.tb_style_8 .blue td,.tb_style_8 .blue th{background-color:#E5F2F9!important;}
.tb_style_9{border-collapse:collapse;font-size:12px;}
.tb_style_9 th,.tb_style_9 td{padding:5px 3px;border:solid 1px #DCDCDC;text-align:center;font-size:90%;}
.tb_style_9 th{font-weight:normal;background-color:#EFEFEF;}
.tb_style_9 .gray th{background-color:#666666!important;}
.tb_style_9 .blue,.tb_style_9 .blue td,.tb_style_9 .blue th{background-color:#E5F2F9!important;}
.tb_style_9 .left{text-align:left;padding-left:10px;}
.tb_style_9 td img{vertical-align:middle;}
.tb_style_9 .pic_277{padding:1px;width:277px;}
.tb_style_9 .col_1{background-color:#FFFFCC;}
.tb_style_9 .col_2{background-color:#FFCC99;}
.tb_style_9 .col_3{background-color:#FF9933;}
.tb_style_10{margin-bottom:5px;border-collapse:collapse;font-size:12px;}
.tb_style_10 td{border:solid 1px #cccccc;padding:10px;}
.tb_style_10 .pic{padding:1px;}

.tb_point{text-align:right;}
.tb_point img{padding-left:2px;}


/* ---------------  img_inner ------------------- */

.img_inner_1{padding:0 0 15px 10px;}


/* ---------------  txt_inner ------------------- */

.txt_inner_1{padding:0 10px 20px 10px;}
.txt_inner_2{padding:0 0 5px 5px;}
.txt_inner_3{padding:0 0 40px 15px;}
.txt_inner_4{padding:0 0 15px 10px;}
.txt_inner_5{padding:0 0 30px 10px;}
.txt_inner_6{padding:0 10px 10px 10px;}
.txt_inner_7{padding:0 10px;}



/* ---------------  txt_inner ------------------- */


.np_color_1{color:#FF6600;}






/* ---------------  localnavi ------------------- */


.localnavi{background:url(../images1006/bg_lnav.gif) no-repeat left bottom;margin-bottom:10px;}
.localnavi ul li{background:url(../images1006/lnav_line.gif) no-repeat center bottom;padding:1px 2px 2px 2px;}
.localnavi ul li .mark{background:transparent url(/common/images/mark.gif) no-repeat scroll 13px 15px;font-size:100%;}

.localnavi ul li .mark2{background:url("/common/images/misumiec.png") no-repeat scroll -189px -972px transparent;}

.localnavi ul li a{display:block;padding-left:23px;padding-top:10px;padding-bottom:10px; background:transparent url(/common/images/misumiec.png) no-repeat scroll -152px -972px;}
.localnavi ul li a:hover{background-color:#E5F2F9;}
.localnavi ul .sub span{background-color:#959595;color:#ffffff;display:block;padding-top:10px;padding-bottom:10px;padding-left:12px;font-weight:bold;}
.localnavi ul .line_2 .mark{background-position:13px 10px;}
.localnavi ul .bottom{padding:1px 2px 2px 2px; background:none;}
.localnavi ul .bottom_line_2{padding:2px 2px 2px 2px;}
.localnavi ul .bottom_line_2 .mark{background-position:13px 10px;}
.localnavi .blk .mark{background-image:url(/contents/images/navi_pct.gif)!important;padding-left:23px;background-position:8px 8px!important;}
.localnavi .pdf .mark{background-image:url(/common/images/pdf.gif)!important;padding-left:23px;background-position:8px 12px!important;background-repeat:no-repeat;padding-left:28px;}
.localnavi .exc .mark{background-image:url(/common/images/excel.gif)!important;padding-left:23px;background-position:8px 12px!important;padding-left:28px;}

.localnavi ul li .anc{padding-bottom:5px;}
.localnavi ul li .anc li{background:none;padding:6px 5px 6px 27px;}
.localnavi ul li .anc .top{padding-top:0px;}
.localnavi ul li .anc li a{padding:0 0 0 12px;background:url(../images1006/icon_l.gif) no-repeat 0 5px;}
.localnavi ul li .anc li a:hover{}
/*

.localnavi{background:url(/contents/mech/product/images/bg_lnav_b.gif) no-repeat left bottom;margin-bottom:10px;}
.localnavi ul li{background:url(/contents/mech/product/images/bg_lnav.gif) no-repeat left top;padding:2px 2px 1px 2px;}

.localnavi ul li .mark{
	background:transparent url(/contents/mech/product/images/mark.gif) no-repeat scroll 13px 50%;
	font-size:100%;
}

.localnavi ul li a{display:block;padding-left:23px;padding-top:7px;padding-bottom:7px;}
.localnavi ul li a:hover{background-color:#E5F2F9;}
.localnavi ul .sub span{background-color:#959595;color:#ffffff;display:block;padding-top:7px;padding-bottom:7px;padding-left:12px;font-weight:bold;}
.localnavi ul .line_2 .mark{background-position:13px 10px;}
.localnavi ul .bottom{padding:2px 2px 2px 2px;}
.localnavi ul .bottom_line_2{padding:2px 2px 2px 2px;}
.localnavi ul .bottom_line_2 .mark{background-position:13px 10px;}
.localnavi .blk .mark{background-image:url(/contents/mech/product/images/navi_pct.gif)!important;padding-left:23px;background-position:8px 8px!important;}
.localnavi .pdf .mark{background-image:url(/contents/mech/product/images/pdf.gif)!important;padding-left:23px;background-position:3px 0.5em!important; background-repeat:no-repeat;}
.localnavi .exc .mark{background-image:url(/contents/mech/product/images/excel.gif)!important;padding-left:23px;background-position:3px 0.5em!important;}
*/






/* ---------------  col2style ------------------- */




/* --  common -- */


.col2_l,.img_l,.txt_l{float:left;}
.col2_r,.txt_r,.img_r{float:right;}



/* --  color  -- */

.org{color:#FF6600;}
.org td{color:#FF6600;}
.org2{color:#FF3300;}
.org2 td{color:#FF3300;}
.gray{background-color:#EFEFEF;}
.gray td{background-color:#EFEFEF;}
.red{color:#FF0000;}
.red_2{color:#FF0000;font-size:10px;}

/* --  newpro_col2_1 -- */


#newpro_col2_1{padding:0 15px 25px 3px;}
#newpro_col2_1 .col2_l{padding:1px;border:solid 1px #cccccc;width:136px;}
#newpro_col2_1 .col2_r{width:550px;line-height:1.8em;}


/* --  newpro_col2_2 -- */


#newpro_col2_2{padding:0 0 25px 0;}
#newpro_col2_2 .col2_l,#newpro_col2_2 .col2_r{width:357px;}
#newpro_col2_2 .img_l{padding:1px;border:solid 1px #cccccc;width:136px;}
#newpro_col2_2 .txt_r{width:200px;line-height:1.8em;}


/* --  newpro_col2_3 -- */


#newpro_col2_3{padding:0 0 30px 0;}
#newpro_col2_3 .col2_l,#newpro_col2_3 .col2_r{width:360px;}
#newpro_col2_3 .col2_l .img_l,#newpro_col2_3 .col2_l .img_r{width:175px;}
#newpro_col2_3 .col2_l .img_l div,#newpro_col2_3 .col2_l .img_r div{padding:1px;border:solid 1px #cccccc;}
#newpro_col2_3 .col2_r .img_l{padding:1px;border:solid 1px #cccccc;width:136px;}
#newpro_col2_3 .col2_r .txt_r{width:195px;}
#newpro_col2_3 .col2_r .txt_r ul li{margin-bottom:15px;}


/* --  newpro_col2_4 -- */


#newpro_col2_4{}
#newpro_col2_4 .col2_l,#newpro_col2_4 .col2_r{width:350px;}



/* --  newpro_col2_5 -- */


#newpro_col2_5{}
#newpro_col2_5 .col2_l{width:432px;}
#newpro_col2_5 .col2_r{width:293px;}


/* --  newpro_col2_6 -- */


#newpro_col2_6{}
#newpro_col2_6 .col2_l{width:199px;}
#newpro_col2_6 .col2_r{width:410px;}



/* --  newpro_col2_7 -- */


#newpro_col2_7{}
#newpro_col2_7 .col2_l{width:136px;}
#newpro_col2_7 .col2_r{width:580px;}
#newpro_col2_7 .col2_r ul li{font-size:83%;}
#newpro_col2_7 .caution img{padding-right:5px;vertical-align:middle;}


/* --  newpro_col2_8 -- */


#newpro_col2_8{}
#newpro_col2_8 .col2_l{width:204px;}
#newpro_col2_8 .col2_r{width:500px;}



/* --  newpro_col2_clink -- */


#newpro_col2_clink .col2_l,#newpro_col2_clink .col2_r{width:356px;border:solid 1px #CCCCCC;padding:1px;min-height:75px;_height:75px;}
#newpro_col2_clink dt{background-color:#E4F1F8;padding:5px 15px;}
#newpro_col2_clink dd{padding:10px 15px 0 15px;}



/* --  np_col2_list -- */


#np_col2_list{}
#np_col2_list .col2_l,#np_col2_list .col2_r{width:150px;}



/* --  newpro_ftInfo -- */

/*
#newpro_ftInfo{margin-top:20px;}
#newpro_ftInfo .col2_l{width:156px;}
#newpro_ftInfo .col2_r{width:570px;background:url(/contents/mech/product/images/np_contact_bg.gif) no-repeat left top;height:121px;}
#newpro_ftInfo .col2_r ul li{float:left;}
#newpro_ftInfo .col2_r ul .tec{padding:8px 0 0 12px;width:199px;}
#newpro_ftInfo .col2_r ul .ec{padding:8px 0 0 23px;width:198px;}
#newpro_ftInfo .col2_r ul .web{padding:14px 0 0 19px;width:108px;}
*/


#newpro_ftInfo{margin-top:20px; clear:both;}
#newpro_ftInfo .col2_l{width:156px;}
#newpro_ftInfo .col2_r{width:570px;background:url(/contents/mech/product/images/np_contact_bg.gif) no-repeat left top;height:121px;}
#newpro_ftInfo .col2_r ul li{float:left;}
#newpro_ftInfo .col2_r ul .tec{padding:8px 16px 0 12px;width:404px;}
#newpro_ftInfo .col2_r ul .web{padding:14px 0 0 0;width:108px;}




/* ---------------  clearFix ------------------- */

.col2:after,.col3:after,.col3_set:after,.clearFix:after,.list_style_1:after,.box:after,.anchor:after,.page:after{
	content: ".";
	display: block;
	height: 0px;
	clear: both;
	visibility: hidden;
}
.col2,.col3,.col3_set,.clearFix,.list_style_1,.box,.anchor,.page{
	display: inline-block;
	min-height: 1%;
	/* escape MacIE5 \*/
	display: block;
	/* escape MacIE5 */ 
}
/* escape MacIE5 \*/
* html .col2,* html .col3,* html .col3_set,* html .clearFix,* html .list_style_1,* html .box,* html .anchor,* html .page{
	height: 1%;
}
/* escape MacIE5 */



/* ---------------  tab ------------------- */

#tab_swc li{width:121px;float:left;padding-right:1px;height:28px;text-align:center;line-height:28px;}
#tab_swc .w164{width:164px;}
#tab_swc .w185{width:185px;}
#tab_swc li a{display:block;width:121px;height:28px;text-decoration:none;}
#tab_swc .w164 a{display:block;width:164px;height:28px;text-decoration:none;}
#tab_swc .w185 a{display:block;width:185px;height:28px;text-decoration:none;}
#tab_swc li a span{display:inline;padding-left:10px;}
#tab_swc{border-bottom:solid 12px #172F79;}

.ui-tabs-nav a{background:url(/contents/mech/product/images/bg_tab.jpg) no-repeat;}
.ui-tabs-nav .w164 a{background:url(/contents/mech/product/images/bg_tab164.jpg) no-repeat;}
.ui-tabs-nav .w185 a{background:url(/contents/mech/product/images/bg_tab185.jpg) no-repeat;}
.ui-tabs-nav a span{background:url(/contents/mech/product/images/mark.gif) no-repeat left center;}
.ui-tabs-selected a{background:url(/contents/mech/product/images/bg_tab.jpg) no-repeat;}
.ui-tabs-nav a:visited{color:#00008b;}
.ui-tabs-selected a,.ui-tabs-selected a:visited, .ui-tabs-nav a:hover, .ui-tabs-nav a:focus, .ui-tabs-nav a:active {
    background-position:0px -28px!important;
	color:white;
}
.ui-tabs-selected a span, .ui-tabs-nav a:hover span, .ui-tabs-nav a:focus span, .ui-tabs-nav a:active span {
    background:url(/contents/mech/product/images/mark_white.gif) no-repeat left center;
}



/* --  faq -- */


.faq dt,.faq dd{padding-left:50px;padding-right:10px;line-height:1.6em;}
.faq dt{margin:10px 0;padding-top:5px;background:url(/contents/mech/product/images/icon_q.jpg) no-repeat 10px 0;min-height:26px;_height:26px;color:#19338B;font-weight:bold;}
.faq dd{margin-top:10px;padding-bottom:25px;background:url(/contents/mech/product/images/icon_a.jpg) no-repeat 10px 0;border-bottom:solid 1px #DCDCDC;}

#faq dt,#faq dd{padding-left:50px;padding-right:10px;line-height:1.6em;}
#faq dt{margin:10px 0;padding-top:5px;background:url(/contents/mech/product/images/icon_q.jpg) no-repeat 10px 0;min-height:26px;_height:26px;color:#19338B;font-weight:bold;}
#faq dd{margin-top:10px;padding-bottom:25px;background:url(/contents/mech/product/images/icon_a.jpg) no-repeat 10px 0;border-bottom:solid 1px #DCDCDC;}





/* ---------------  lineup ------------------- */


#lineup .col{float:left;padding-bottom:10px;}
#lineup .col li{padding-bottom:5px;width:238px;}
#lineup .col .pr{padding-right:7px;}




/* ---------------  list_style ------------------- */

.list_style_1{padding-bottom:20px;}
.list_style_1 li{float:left;padding-right:5px;}
.list_style_1 li p{margin-top:5px;}
.list_style_1 li div{border:solid 1px #cccccc;padding:1px;width:136px;}
.list_style_1 li div a{display:block;height:146px;width:136px;}
.col2 .list_style_1{padding-bottom:0px;}
.list_style_2{padding-bottom:15px;}
.list_style_2 li{float:left;width:140px;}
.list_style_2 .pic_1{padding-right:5px;}
.list_style_2 .pic_2{padding-right:10px;}
.list_style_2 .pic_1 a,.list_style_2 .pic_2 a{display:block;border:solid 1px #cccccc;padding:1px;}
.list_style_3{padding-bottom:15px;}
.list_style_3 .pro{float:left;width:238px;}
.list_style_4{padding-bottom:20px;}
.list_style_4 li{float:left;padding-left:5px;width:140px;}
.list_style_4 li div{padding:1px;border:solid 1px #cccccc;}
.list_style_5{padding-top:15px;}
.list_style_5 li{float:left;width:238px;padding-right:5px;}
.list_style_5 li div{padding:1px;border:solid 1px #cccccc;}
.list_style_5 li p{margin-top:5px;}
.list_style_5 .right{padding-right:0px;}
.list_style_6 li{float:left;}
.list_style_6 .tn{width:208px;padding-right:5px;}
.list_style_6 .tn div{border:solid 1px #cccccc;padding:1px;}




/* ---------------  tb-c_layout ------------------- */


.tb-c_layout{display:table;width:730px;	border-bottom:dotted 1px #CCCCCC;padding-bottom:8px;padding-top:8px;}
.tb-c_layout_b{display:table;}
.tb-c_layout .img,.tb-c_layout .txt,.tb-c_layout_b .img,.tb-c_layout_b .txt{display:table-cell;/display:inline;/zoom:1;vertical-align:middle;margin:0px;}
.tb-c_layout .w123{width:123px;padding:0 10px;}

#tb-c_1{width:906px;height:77px;margin-top:15px;background:url(/contents/mech/product/db/images/bg_hikaku.gif) no-repeat left top;}
#tb-c_1 .img{width:118px;padding-right:30px;padding-top:3px;}
#tb-c_1 .txt{width:730px;line-height:1.8em;}

/* ---------------  width ------------------- */

.w450{width:450px!important;}
.w105{width:105px!important;}
.w120{width:120px!important;}
.w480{width:480px!important;}
.w240{width:240px!important;}
.w267{width:267px!important;}
.w197{width:197px!important;}
.w338{width:338px!important;}
.w234{width:234px!important;}
.w95{width:95px!important;}
.w610{width:610px!important;}
.w128{width:128px!important;}
.w287{width:287px!important;}
.w275{width:275px!important;}
.w907{width:907px!important;}
.w570{width:570px!important;}


/* ---------------  page ------------------- */


.page{background-color:#EBEBEB;padding:8px 15px;margin-top:20px;}
.page .next{float:right;width:125px;}
.page .back{float:left;width:125px;}


/* ---------------  waku ------------------- */


.waku_01{border:solid 1px #cccccc;padding:1px;}


/* ---------------  status ------------------- */


.status img{padding-right:3px;}


/* ---------------  info ------------------- */

.info_01{padding:15px 0;background-color:#EBEBEB;font-weight:bold;text-align:center;}



/* ---------------  img_style ------------------- */


.img_style01{background:url(/contents/mech/product/images/bg_img.jpg) no-repeat left top;height:437px;padding:0 35px;position:relative;}
.img_style01 .txt{font-size:83%;line-height:1.5em!important;}
.img_style01 .mark_np1{position:absolute;top:380px;left:560px;}

.img_style02{padding:15px 45px 0 55px;background:url(/contents/mech/product/lb/new03/images/bg_img.jpg) no-repeat left top;height:281px;line-height:1.2em;}
.img_style02 p{line-height:1.2em!important;}

.img_style03{background:url(/contents/mech/product/db/images/bg_01.jpg) no-repeat left top;height:135px;line-height:1.8em;text-align:left;}
.img_style03 .inner{padding:20px 20px 0 200px;}



/* ---------------  inner ------------------- */


.inner_np1{padding:15px 20px;}




/* ---------------  lx ------------------- */


.voice_list {
    width:550px;
	margin:10px 0px 10px 0px;
	padding:0px 0px 0px 10px;
}
.voice_list dt {
	float:left;
	width:65px;
	margin:3px 0 10px 0;
	padding:3px;
	border-bottom:1px dotted #CCC;
}
.voice_list dd {
	float:left;
	width:450px;
	margin:3px 0 10px 0;
	padding:3px;
	border-bottom:1px dotted #CCC;
}
.voice_msm {
	font-weight: bold;
	color: #002B71;
}
.voice_cstm {
	font-weight: bold;
	color: #990000;
}





/*---タイトル---*/

#rightArea h2.big_title {
	padding-left:15px;
	margin:0px 0px 10px 0;
	font-weight:bold;
	font-size:100%;
	color:#464646;
	background:url(/contents/mech/product/images/bg_h1.jpg) no-repeat left top;
	height:40px;
	line-height:40px;
}
#rightArea h2.big_title_s {
	padding-left:15px;
	margin:0px 0px 10px 0;
	font-weight:bold;
	font-size:100%;
	color:#464646;
	background:url(/contents/mech/product/images/bg_h1_s.jpg) no-repeat left top;
	height:40px;
	line-height:40px;
}
#rightArea h2.big_title_new {
	padding-left:75px;
	margin:0px 0px 10px 0;
	font-weight:bold;
	font-size:100%;
	color:#464646;
	background:url(/contents/mech/product/images/bg_h1_new.jpg) no-repeat left top;
	height:40px;
	line-height:40px;
}
/*.mid_title {
	padding:5px 0px 5px 8px;
	margin:0px 0px 10px 10px;
	font-weight:bold;
	border-bottom-width:1px;
	border-left-width:2px;
	border-bottom-style:solid;
	border-left-style:solid;
	border-bottom-color:#cbd4e6;
	border-left-color:#002b71;
	background-color:#f0f3fb;
	font-size:100%;
}*/
#rightArea h2.mid_title {
	padding:1px;
	margin:0px 0px 10px 0;
	font-weight:bold;
	border:solid 1px #cbd4e6;
	border-left:none;
	border-right:none;
	font-size:100%;
	color:#1A338B;
}
#rightArea h2.mid_title p {
	padding:5px 15px;
	background-color:#E5F2F9;
}
/*.small_title {
	padding:2px 0px 3px 8px;
	margin:0px 0px 10px 10px;
	font-weight:bold;
	border-left-width:3px;
	border-left-style:solid;
	border-left-color:#002b71;
	font-size:100%;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #E1E1E1;
}*/
#rightArea h2.mid_title_or {
	padding:5px 0px 5px 8px;
	margin:0px 0px 10px 10px;
	font-weight:bold;
	border-bottom-width:1px;
	border-left-width:2px;
	border-bottom-style:solid;
	border-left-style:solid;
	border-bottom-color:#FFE2AE;
	border-left-color:#FEB400;
	background-color:#FFF0CE;
	font-size:100%;
}
.small_title {
	padding:1px;
	margin:0px 0px 10px 0;
	font-weight:bold;
	font-size:100%;
	border-top:solid 1px #DCDCDC!important;
	
	
	border-left-width:0px!important;
	border-left-style:none!important;
	border-left-color:#fff!important;
	border-bottom-width: 0px!important;
	border-bottom-style:none!important;
	border-bottom-color: #fff!important;
}
.small_title p {
	padding:5px 0px 10px 8px;
	background-color:#EFEFEF;
}
.small_title p span {
	color:#FF6600;
}
.x-small_title {
	margin:10px 0 10px 0;
	padding:0 0 0 10px;
	font-weight:bold;
	font-size:100%;
	background:url(/contents/mech/product/images/bg_h4.jpg) repeat-x left top;
	line-height:27px;
	height:27px;
}








/* ---------------  padding ------------------- */

/* all */

.pd_0{padding:0px!important;}
.pd_3{padding:3px;}
.pd_3 td{padding:3px;}


/* top-bottom */

.ptb_10{padding-top:10px;padding-bottom:10px;}
.ptb_20{padding-top:20px;padding-bottom:20px;}


/* left-right */

.plr_5{padding-right:5px;padding-left:5px;}


/* top */

.pt_0{padding-top:0px!important;}
.pt_5{padding-top:5px;}
.pt_10{padding-top:10px;}
.pt_20{padding-top:20px;}
.pt_25{padding-top:25px;}
.pt_30{padding-top:30px;}



/* bottom */

.pb_5{padding-bottom:5px;}
.pb_10{padding-bottom:10px!important;}
.pb_15{padding-bottom:15px;}
.pb_20{padding-bottom:20px!important;}
.pb_25{padding-bottom:25px;}
.pb_30{padding-bottom:30px;}
.pb_50{padding-bottom:50px;}


/* right */


.pr_5{padding-right:5px;}
.pr_30{padding-right:30px;}


/* left */


.pl_5{padding-left:5px;}
.pl_10{padding-left:10px!important;}




/* ---------------  margin ------------------- */


/* top */

.mt_0{margin-top:0px!important;}
.mt_5{margin-top:5px;}
.mt_10{margin-top:10px;}
.mt_15{margin-top:15px;}
.mt_20{margin-top:20px;}
.mt_25{margin-top:25px;}
.mt_30{margin-top:30px;}
.mt_45{margin-top:45px;}
.mt_60{margin-top:60px;}


/* left */

.ml_10{margin-left:10px;}
.ml_30{margin-left:30px;}


