@charset "utf-8";

/* ---------------  common ------------------- */


.col1,.col1-2,.box_l{float:left;}
.col .col2,.col3,.box_r{float:right;}




/* ---------------  htag style ------------------- */
#rightArea h1.keyVisual {
	margin-bottom:15px;
}
#rightArea h2.h2style{line-height:39px;background:url(../images1006/bg_h2.jpg) no-repeat left top;font-size:14px;padding-left:17px;color:#0A2B9D;}
#rightArea h3.h3style{line-height:30px;background:url(../images1006/bg_h3.gif) no-repeat left top;font-size:12px;padding-left:17px;color:#0A2B9D;}
#rightArea h4.h4style{line-height:29px;background:url(../images1006/bg_h4.gif) repeat-x left top;font-size:12px;padding-left:13px;font-weight:bold;margin-left:2px;margin-right:2px;}
#rightArea h4.h4style .blue{color:#0A2B9D;font-weight:bold;}


/* ---------------  dl style ------------------- */


dl.style1{padding-left:37px;}
dl.style1 dt{margin-bottom:5px;}
dl.num1{background:url(../images1006/icon_num1.jpg) no-repeat left top;}
dl.num2{background:url(../images1006/icon_num2.jpg) no-repeat left top;}
dl.num3{background:url(../images1006/icon_num3.jpg) no-repeat left top;}
dl.num4{background:url(../images1006/icon_num4.jpg) no-repeat left top;}
#rightArea dl.style2{padding:0 10px;line-height:1.6em;}
dl.style2 dt{font-weight:bold;}
dl.style2 dd{margin-bottom:20px;}


/* ---------------  ul style ------------------- */

#rightArea ul.style1{line-height:1.6em;padding:10px;}


/* ---------------  osusume ------------------- */


#rightArea .osusume{line-height:1.4em;background:url(../images1006/icon_osusume.gif) no-repeat 0 3px;padding-left:30px;padding-right:10px;margin-bottom:10px;color:#0A2B9D;}/* line-height 優先順位の関係で#rightAreaから */




/* ---------------  exampleset ------------------- */



/* -----  exampleset1 ------ */

.exampleset1{padding:20px 8px;}
.exampleset1 .col1,.exampleset1 .col2{width:345px;}
.exampleset1 .col1 dl{margin-bottom:20px;}


/* -----  exampleset2 ------ */


.exampleset2 h3{background:url(../images1006/bg_h3mini.gif) no-repeat left center;line-height:30px;font-size:12px;padding-left:17px;color:#0A2B9D;margin-bottom:10px;}
.exampleset2 .col{padding:15px 0;}
.exampleset2 .col1,.exampleset2 .col2{width:355px;}
.exampleset2 .bd-area{border:solid 1px #DEDEDE;padding:3px 5px;width:327px;margin:0 auto;}
.exampleset2 .box{padding:15px 5px 15px 10px;}
.exampleset2 .box_l{width:155px;}
.exampleset2 .box_r{width:144px;}
.exampleset2 .osusume{margin-left:10px;}


/* ---------------  featureset ------------------- */



/* -----  systemset1 ------ */

.systemset1{padding:20px 0 30px 15px;}
.systemset1 .col1{width:365px;}
.systemset1 .col1 dl{margin-bottom:15px;}
.systemset1 .col2{width:340px;}



/* -----  systemset2 ------ */

.systemset2{padding:20px 3px 15px 15px;}
.systemset2 .col1{width:461px;}
.systemset2 .col2{width:225px;}


/* -----  systemset3 ------ */

.systemset3{padding:15px 45px 15px 0;}
.systemset3 .col1,.systemset3 .col2{width:320px;}



/* -----  systemset4 ------ */

.systemset4{padding:15px 5px 10px 7px;}
.systemset4 .col1{width:455px;}
.systemset4 .col2{width:235px;}


/* -----  systemset5 ------ */

.systemset5{padding:10px 20px 15px 7px;}
.systemset5 .col1{width:505px;}
.systemset5 .col2{width:180px;}


/* -----  systemset6 ------ */

.systemset6{padding:15px 5px 15px 0;}
.systemset6 .col1-2{width:378px;}
.systemset6 .col1{width:163px;}
.systemset6 .col2{width:200px;}
.systemset6 .col3{width:325px;}




/* ---------------  bgarea ------------------- */



/* -----  bgarea1 ------ */

.bgarea1{background-color:#F7F7F7;padding:15px 10px 15px 30px;}
.bgarea1 .col1{width:450px;}
.bgarea1 .col2{width:150px;}





/* ---------------  lineupset ------------------- */



/* -----  lineupset1 ------ */

.lineupset1{padding:10px 0;}
.lineupset1 .col1{width:350px;}
.lineupset1 .col1 ul{padding-left:2px;}
.lineupset1 .col1 ul li{float:left;}
.lineupset1 .col1 ul li img{padding:1px;border:solid 1px #DEDEDE;}
.lineupset1 .col1 ul .pr8{padding-right:8px;}
.lineupset1 .col1 ul .pr4{padding-right:4px;}
.lineupset1 .col1 ul .pr1{padding-right:1px;}
.lineupset1 .col2{width:373px;}
.lineupset1 .col2 dl{line-height:1.8em;min-height:88px;_height:88px;}
.lineupset1 .col2 dt{color:#0A2B9D;font-weight:bold;}
.lineupset1 .col2 .box1 .box_l{width:167px;}
.lineupset1 .col2 .box1 .box_r{width:144px;}



/* -----  lineupset2 ------ */


.lineupset2{padding-top:10px;}
.lineupset2 .col{padding-bottom:20px;}
.lineupset2 .col1,.lineupset2 .col2{width:350px;}
.lineupset2 h3{background:url(../images1006/bg_h3mini.gif) no-repeat left center;line-height:30px;font-size:12px;padding-left:17px;color:#0A2B9D;}
.lineupset2 .pic{padding:10px 0 10px 2px;}
.lineupset2 .pic img{padding:1px;border:solid 1px #DEDEDE;}



/* -----  lineupset3 ------ */


.lineupset3{padding:10px 2px;}
.lineupset3 .left,.lineupset3 .center,.lineupset3 .right{width:238px;float:left;}
.lineupset3 .left,.lineupset3 .center{padding-right:5px;}
.lineupset3 ul{border:solid 1px #CCCCCC;}
.lineupset3 .pic{padding:1px 0;text-align:center;}
.lineupset3 .data{background-color:#F2F2F2;border-top:solid 1px #CCCCCC;border-bottom:solid 1px #CCCCCC;padding:6px 13px;}
.lineupset3 .txt{padding:6px;}
.lineupset3 p{padding:3px 0 0 3px;}
#rightArea .lineupset3 .osusume{margin-bottom:0px;}



/* -----  lineupset4 ------ */


.lineupset4 .col{padding:10px 0;}
.lineupset4 .col1,.lineupset4 .col2{width:350px;}
.lineupset4 h3{background:url(../images1006/bg_h3mini.gif) no-repeat left center;line-height:30px;font-size:12px;padding-left:17px;color:#0A2B9D;}
.lineupset4 .pic{padding:1px;}
.lineupset4 table{border-collapse:collapse;border-spacing:0;margin:10px auto;width:330px;}
.lineupset4 table th,.lineupset4 table td{border:solid 1px #DEDEDE;padding:6px 10px;}
.lineupset4 table th{background-color:#E0F9F9;font-weight:normal;width:80px;text-align:center;}

/* ---------------  linkset ------------------- */


/* -----  linkset1 ------ */

.linkset1{background:url(../images1006/waku_3b.jpg) no-repeat left bottom;margin-bottom:5px;}
.linkset1 .col{background:url(../images1006/waku_3t.jpg) no-repeat left top;padding:3px 0 15px 0;}
.linkset1 .col1{width:322px;padding:0 10px 0 28px;}
.linkset1 .col2{width:360px;}
.linkset1 .col dt{line-height:25px;color:#fff;}
.linkset1 .col dt a{color:#fff;}
.linkset1 .col dd{padding-top:10px;line-height:1.5em;}

/* -----  linkset2 ------ */

.linkset2{background:url(../images1006/waku_2b.jpg) no-repeat center bottom;margin-bottom:5px;}
.linkset2 .col{background:url(../images1006/waku_2t.jpg) no-repeat center top;padding:3px 0 15px 0;}
.linkset2 .col1,.linkset2 .col2{width:322px;padding:0 10px 0 28px;}
.linkset2 .col dt{line-height:25px;color:#fff;}
.linkset2 .col dt a{color:#fff;}
.linkset2 .col dd{padding-top:10px;line-height:1.5em;}


/* -----  linkset3 ------ */

.linkset3 .col1,.linkset3 .col2{width:360px; margin:0px;}
.linkset3 .col dl{background:url(../images1006/waku_3b.jpg) no-repeat left bottom;margin-bottom:5px;}
.linkset3 .col dt{line-height:25px;color:#fff;background:url(../images1006/waku_3t.jpg) no-repeat left top;min-height:29px;_height:29px;padding:3px 10px 0 28px;}
.linkset3 .col dt a{color:#fff;}
.linkset3 .col dd{line-height:1.5em;padding:10px 10px 15px 28px;}
.linkset3 .col .box_l,.linkset3 .col .box_r{width:152px;}
.linkset3 ul li{text-indent:-1em;padding-left:1em;}


/* ---------------  pset ------------------- */

/* -----  common ------ */


#rightArea .pname{line-height:30px;padding:0 15px;color:#0A2B9D;font-weight:bold;}/* line-height 優先順位の関係で#rightAreaから */

/* -----  pset2a ------ */

.pset2a{background:url(../images1006/waku_1b.jpg) no-repeat center bottom;margin:10px 0 20px 0;}
.pset2a .col{background:url(../images1006/waku_1t.jpg) no-repeat center top;padding:4px 0 20px 0;}
.pset2a .col1,.pset2a .col2{width:342px;padding:0 5px 0 13px;}
#rightArea .pset2a .col .pname{line-height:30px;padding:0 15px;color:#0A2B9D;font-weight:bold;}/* line-height 優先順位の関係で#rightAreaから */
.pset2a .col .box1{padding:10px 13px 10px 0;}
.pset2a .col .box1 .box_l img{padding:1px;border:solid 1px #DEDEDE;}
.pset2a .col .box1 .box_r ul li{line-height:1.5em;}
.pset2a .col .box2 p{font-size:12px;padding-left:17px;color:#0A2B9D;margin-left:3px;padding-left:8px;background:url(../images1006/icon_line1.gif) no-repeat left center;font-weight:bold;}
.pset2a .col .box2{padding-right:25px;}
.pset2a .col .box2 div{margin-top:5px;}
.pset2a .col .box3{padding-right:13px;}
.pset2a .col .box3 .box_l{padding-top:4px;}
.pset2a .col .box4{padding:10px 13px 0 0;}
.pset2a .col .box4 .box_l img{padding:1px;border:solid 1px #DEDEDE;}
.pset2a .col .box4 .box_r{width:180px;line-height:1.5em;}
.pset2a .col .box4 .box_r td{background-color:#F8F8F8;padding:5px 5px 5px 15px;}
.pset2a .col .box4 .box_r th{background-color:#EEEEEE;padding:5px 5px 5px 15px;font-weight:normal;}
.pset2a .col .box4 .box_r .newprice{padding:10px 0 15px 8px;}
#rightArea .pset2a .col .box4 .box_r .line3{line-height:1.1em;}
#rightArea .box4 .box_r .osusume{padding-right:0px;margin-top:10px;}/* line-height 優先順位の関係で#rightAreaから */
.pset2a .col .box5{padding:10px 0 20px 0;}
.pset2a .col .box5 .box_l img{padding:1px;border:solid 1px #DEDEDE;}
.pset2a .col .box5 .box_r{width:155px;line-height:1.5em;}
.pset2a .col .box5 .box_r ul{margin-top:5px;}
.pset2a .col .box5 .box_r ul li{padding:3px 0;}
.pset2a .col .status{text-align:right;padding-right:13px;margin-top:5px;}
.pset2a .img{padding:15px 0 10px 0;text-align:center;}
.pset2a .img img{padding:1px;border:solid 1px #DEDEDE;}
.pset2a .btn{text-align:right;padding-right:13px;}
.pset2a_left{background:url(../images1006/waku_4b.jpg) no-repeat left bottom;}
.pset2a_left .col{background:url(../images1006/waku_4t.jpg) no-repeat left top;}



/* -----  pset2b ------ */

.pset2b .col{padding:10px 0;}
.pset2b .col1,.pset2b .col2{width:350px;}
.pset2b .box_l{width:140px;}
.pset2b .box_l img{padding:1px;border:solid 1px #DEDEDE;}
.pset2b .box_r{width:200px;line-height:1.6em;}
.pset2b .box_r dt{font-weight:bold;}




/* -----  pset3a ------ */

.pset3a{background:url(../images1006/waku_5b.jpg) no-repeat center bottom;margin:10px 0 20px 0;}
.pset3a .col{background:url(../images1006/waku_5t.jpg) no-repeat center top;padding:4px 0 12px 0;}
.pset3a .left,.pset3a .center,.pset3a .right{width:234px;float:left;}
.pset3a .center,.pset3a .right{padding-left:12px;}
#rightArea .pset3a .pname{padding-left:27px;}
.pset3a .img{padding:15px 0 10px 0;text-align:center;}
.pset3a .img img{padding:1px;border:solid 1px #DEDEDE;}
.pset3a .btn{text-align:right;padding-right:13px;}

.pset3a_noright{background-position:-246px 100%;}
.pset3a_noright .col{background-position:-246px 0;}
.pset3a_left{background-position:-492px 100%;}
.pset3a_left .col{background-position:-492px 0;}



/* -----  pset4a ------ */

.pset4a{background:url(../images1006/waku_7b.jpg) no-repeat left bottom;margin:10px 0;}
.pset4a .col{background:url(../images1006/waku_7t.jpg) no-repeat left top;padding-right:8px;}
.pset4a dl{width:176px;padding:3px 0 10px 0;float:left;padding-right:4px;}


.pset4a .pic{margin-top:10px;text-align:center;}
.pset4a .btn{margin-top:5px;text-align:center;}
.pset4a_1{background-position:-540px 100%;}
.pset4a_1 .col{background-position:-540px 0;}
.pset4a_2{background-position:-360px 100%;}
.pset4a_2 .col{background-position:-360px 0;}
.pset4a_3{background-position:-180px 100%;}
.pset4a_3 .col{background-position:-180px 0;}


 
.pset4a dt{
color:#0A2B9D;
font-weight:bold;
padding-left:20px;
padding-right:3px;
}

.pset4a dt {  
    display: table;
	height:55px;
	width:153px;
}  
    * html .pset4a dt {  
        position: relative; 
    }  
    *+html .pset4a dt {  
        position: relative;
    }  
.pset4a dt div {  
    display: table-cell; 
    vertical-align: middle;
}  
    * html .pset4a dt div {  
        position: absolute;
        top: 50%; 
    }  
    *+html .pset4a dt div {  
        position: absolute;
        top: 50%;   
    }  
#rightArea .pset4a dt div p {  
    margin: 0;
	line-height:1.1em; 
	width:153px!important; 
}  
    * html #rightArea .pset4a dt div p {  
        position: relative;
        top: -50%; 
		line-height:1.1em;
    }  
    *+html #rightArea .pset4a dt div p {  
        position: relative;
        top: -50%;
		line-height:1.1em;
    }
	head~/* */body #rightArea .pset4a dt div p {/* IE 8 */ line-height:1.1em;padding-top:2px; } 




/* -----  pset4b ------ */

.pset4b{padding:10px 0;}
.pset4b .col{padding:10px 0;}
.pset4b .box{padding-left:5px;width:176px;float:left;}
.pset4b .pic img{padding:1px;border:solid 1px #DEDEDE;}
.pset4b .btn{margin-top:5px;text-align:right;}












/* ---------------  waku_check ------------------- */


/* -----  waku_check ------ */

.waku_check1{background:url(../images1006/waku_check.jpg) no-repeat left bottom;padding-bottom:35px;}
.waku_check1 table{width:680px;margin:0 auto;}


/* ---------------  text style ------------------- */

.txt1{padding:10px;}
.txt2{padding:15px 10px 15px 15px;}
#rightArea .txt3{padding:5px 10px;font-weight:bold;color:#0A2B9D;line-height:1.3em;}

/* ---------------  list style ------------------- */

.list_ind li{text-indent:-1em;padding-left:1em;}
.list1{padding:3px 3px 10px 10px;}
.list1 li{padding:5px 0;}
.list2{padding:3px;}
.list2 li{padding:2px 0;font-size:10px;}
.list3 li{line-height:1.8em;text-indent:-1em;padding-left:1em;}
.list4 li{line-height:0px;font-size:0px;margin-bottom:10px;}
.list5 li{font-weight:bold;color:#1D3992;padding-left:10px;}


/* ---------------  img ------------------- */


img.va-m{vertical-align:middle;padding:0 3px;}


/* ---------------  table style ------------------- */


/* -----  style1 ------ */

table.style1{border-collapse:collapse;border-spacing:0;}
table.style1 td{border:solid 1px #DEDEDE;font-size:10px;text-align:center;padding:5px 3px;background-color:#E0F9F9;}
table.style1 .gray td{background-color:#F4F4F4;}
table.style1 .gray .bgnone,table.style1 .bgnone{background-color:#fff;}
table.style1 td .eg{color:#009999;font-weight:bold;}
table.style1 .right{padding-right:5px;}


/* -----  style2 ------ */

table.style2{border-collapse:collapse;border-spacing:0;}
table.style2 th{border:solid 1px #DEDEDE;font-size:12px;text-align:center;padding:3px;background-color:#E0F9F9;font-weight:normal;}
table.style2 td{border:solid 1px #DEDEDE;font-size:12px;text-align:left;padding:8px;}
table.style2 .gray{background-color:#F4F4F4;text-align:center;}
table.style2 .mark_pdf{line-height:16px;background-position:left center;display:block;}


/* -----  style3 ------ */

table.style3{border-collapse:collapse;border-spacing:0;}
table.style3 th{border:solid 1px #DEDEDE;font-size:12px;text-align:center;padding:3px;background-color:#F2F2F2;font-weight:normal;}
table.style3 td{border:solid 1px #DEDEDE;font-size:12px;text-align:center;padding:6px;}



/* -----  style4 ------ */

table.style4{border-collapse:collapse;border-spacing:0;}
table.style4 th{border:solid 1px #DEDEDE;font-size:12px;text-align:center;padding:3px;background-color:#F2F2F2;font-weight:normal;}
table.style4 td{border:solid 1px #DEDEDE;font-size:12px;text-align:center;padding:6px;background-color:#E0F9F9;}
table.style4 .wh,table.style4 .wh td{background-color:#fff;}
table.style4 .eg{color:#009999;font-weight:bold;}


/* -----  style5 ------ */

table.style5{border-collapse:collapse;border-spacing:0;}
table.style5 th{border:solid 1px #DEDEDE;font-size:12px;text-align:center;padding:6px;background-color:#E0F9F9;font-weight:normal;}
table.style5 td{border:solid 1px #DEDEDE;font-size:12px;text-align:left;padding:6px 15px;}
table.style5 .pic{padding:1px;}
#rightArea table.style5 .osusume{line-height:1.5em;color:#333333;}


/* -----  style6 ------ */

table.style6{padding:15px;}
table.style6 td{padding:3px 15px;}


/* -----  style7 ------ */

table.style7{border-collapse:collapse;border-spacing:0;}
table.style7 th{border:solid 1px #DEDEDE;font-size:12px;text-align:center;padding:3px;background-color:#E0F9F9;font-weight:normal;}
table.style7 td{border:solid 1px #DEDEDE;font-size:12px;text-align:center;padding:8px;vertical-align:top;}
table.style7 .gray{background-color:#F4F4F4;text-align:center;}


/* -----  style8 ------ */

table.style8{border-collapse:collapse;border-spacing:0;margin:10px auto;}
table.style8 th,table.style8 td{border:solid 1px #DEDEDE;font-size:12px;text-align:center;padding:3px;font-weight:normal;}
table.style8 th{background-color:#F2F2F2;padding-left:10px;padding-right:10px;}
table.style8 .img{padding:0px;}


/* -----  style9 ------ */

table.style9{border-collapse:collapse;border-spacing:0;}
table.style9 th,table.style9 td{border:solid 1px #DEDEDE;font-size:10px;text-align:center;padding:3px;font-weight:normal;}
table.style9 th{background-color:#F2F2F2;font-weight:normal;}
table.style9 td{background-color:#E0F9F9;}
table.style9 .org{font-size:12px;}


/* -----  style10 ------ */

table.style10{border-collapse:collapse;border-spacing:0;}
table.style10 th,table.style10 td{border:solid 1px #DEDEDE;font-size:12px;text-align:center;font-weight:normal;}
table.style10 th{background-color:#F2F2F2;font-weight:normal;padding:3px 30px}
table.style10 td{padding:3px;}


/* -----  style11 ------ */

table.style11{border-collapse:collapse;border-spacing:0;}
table.style11 th{border:solid 1px #DEDEDE;font-size:12px;text-align:center;padding:3px 15px;background-color:#F2F2F2;font-weight:normal;}
table.style11 td{border:solid 1px #DEDEDE;font-size:12px;text-align:center;padding:6px 15px;}


/* -----  commpn ------ */

#rightArea table td.pic{padding:1px;}
#rightArea table td.top{vertical-align:top;}
#rightArea table td.center{text-align:center;}
#rightArea table td.left{text-align:left;}
#rightArea table td.right{text-align:right;}
#rightArea table .gray,#rightArea table .gray td{background-color:#F4F4F4;}
#rightArea table .eg,#rightArea table .eg td{color:#009999;font-weight:bold;}
#rightArea table .wh{background-color:#fff;}
#rightArea table .bl,#rightArea table .bl td,#rightArea table .bl th{background-color:#E0F9F9;}
#rightArea table .bl2,#rightArea table .bl2 td,#rightArea table .bl2 th{background-color:#D3EDFA;}
#rightArea table .pad0{padding:0px;}
#rightArea table .pad3{padding:3px;}
#rightArea table .pad8{padding-left:8px;padding-right:8px;}
#rightArea table .no-bd td{border:none;}


/* ---------------  caption style ------------------- */

#rightArea .cap{color:#0A2B9D;font-weight:bold;font-size:14px;line-height:1.3em;}
#rightArea .cap span{font-size:10px;font-weight:normal;}
#rightArea .cap2{color:#0A2B9D;font-weight:bold;font-size:12px;line-height:1.1em;}


/* ---------------  localnavi ------------------- */
/*
.localnavi{background:url(../images1006/bg_lnav.gif) no-repeat left bottom;margin-bottom:10px;}
.localnavi ul li{background:url(../images1006/lnav_line.gif) no-repeat center bottom;padding:1px 2px 2px 2px;}
.localnavi ul li .mark{background:transparent url(/common/images/mark.gif) no-repeat scroll 13px 15px;font-size:100%;}
.localnavi ul li a{display:block;padding-left:23px;padding-top:10px;padding-bottom:10px; background:transparent url(/common/images/misumiec.png) no-repeat scroll -152px -972px;}
.localnavi ul li a:hover{background-color:#E5F2F9;}
.localnavi ul .sub span{background-color:#959595;color:#ffffff;display:block;padding-top:10px;padding-bottom:10px;padding-left:12px;font-weight:bold;}
.localnavi ul .line_2 .mark{background-position:13px 10px;}
.localnavi ul .bottom{padding:1px 2px 2px 2px; background:none;}
.localnavi ul .bottom_line_2{padding:2px 2px 2px 2px;}
.localnavi ul .bottom_line_2 .mark{background-position:13px 10px;}
.localnavi .blk .mark{background-image:url(/contents/images/navi_pct.gif)!important;padding-left:23px;background-position:8px 8px!important;}
.localnavi .pdf .mark{background-image:url(/common/images/pdf.gif)!important;padding-left:23px;background-position:8px 12px!important;background-repeat:no-repeat;padding-left:28px;}
.localnavi .exc .mark{background-image:url(/common/images/excel.gif)!important;padding-left:23px;background-position:8px 12px!important;padding-left:28px;}

.localnavi ul li .anc{padding-bottom:5px;}
.localnavi ul li .anc li{background:none;padding:6px 5px 6px 27px;}
.localnavi ul li .anc .top{padding-top:0px;}
.localnavi ul li .anc li a{padding:0 0 0 12px;background:url(../images1006/icon_l.gif) no-repeat 0 5px;}
.localnavi ul li .anc li a:hover{}
*/

/* ---------------  newpro_ftInfo ------------------- */


#newpro_ftInfo .col2_r ul .web{float:right;width:119px;padding:19px 5px 0 0px;}




/* ---------------  clearFix ------------------- */


.col:after,.col1-2:after,.box:after{
	content: ".";
	display: block;
	height: 0px;
	clear: both;
	visibility: hidden;
}
.col,.col1-2,.box{
	display: inline-block;
	min-height: 1%;
	/* escape MacIE5 \*/
	display: block;
	/* escape MacIE5 */ 
}
/* escape MacIE5 \*/
* html .col,* html .col1-2,* html .box{
	height: 1%;
}
/* escape MacIE5 */



/* ---------------  inner ------------------- */

div.inn1{padding:10px 0 0 15px;}



/* ---------------  font-size ------------------- */

.fs10{font-size:10px;}
.fs14{font-size:14px;}


/* ---------------  width ------------------- */

.wd140{width:140px;}
.wd150{width:150px;}
.wd280{width:280px;}
.wd320{width:320px;}
.wd330{width:330px;}
.wd350{width:350px;}
.wd355{width:355px;}
.wd360{width:360px;}
.wd375{width:375px;}
.wd380{width:380px;}
.wd410{width:410px;}
.wd420{width:420px;}
.wd500{width:500px;}



/* ---------------  padding ------------------- */


/* -----  top ------ */

.pt_5{padding-top:5px;}
.pt_50{padding-top:50px;}
.pt_60{padding-top:60px;}


/* -----  right ------ */

.pr_20{padding-right:20px;}
.pr_45{padding-right:45px;}


/* -----  left ------ */

.pl_20{padding-left:20px;}
.pl_30{padding-left:30px;}




/* ---------------  lineheight ------------------- */


#rightArea .lh_30{line-height:30px;}


/* ---------------  color ------------------- */

.kon{color:#1D3992;}
.org{color:#FF6600;font-weight:bold;}
.price{color:#FF3300;font-weight:bold;}


/* ---------------  link ------------------- */


a.ic{background:url(/common/images/mark.gif);background-position:0 6px;background-repeat:no-repeat;padding-left:11px;}


/* ---------------  display ------------------- */

.vib_n{visibility:hidden;}



/* ---------------  detail_qa ------------------- */


div#detail_qa div#qa_contents {
	border:none;
	width:700px;
	margin:0 auto;
	padding:20px 0;
}
div#detail_qa div#qa_contents img.va_t{vertical-align:top;}